.map--wrapper {
    background: url(../images/topo_bg.png) no-repeat top center;
    @include clearfix;
    padding: 2rem 0;
}
.map--wrapper .left {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
        @include grid-span(4,1);
      }

}
.map--wrapper .right {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
        @include grid-span(8,5);
        .field--name-field-map-iframe-url {
            padding-right: 40px;
        }
      }
}

.map--wrapper svg {
    filter: drop-shadow(0px 9px 7px rgba(0, 0, 0, 0.2));

}

.map--wrapper svg g path {
    stroke: #1c6155;
}

.map--wrapper svg .state {
    transform-origin: 50% 50%;
    pointer-events: all;
}