footer {
    // FOOTER TOP --------------------- //
    a[href$=".pdf"],a[href$=".doc"],a[href$=".docx"],a[href$=".csv"],a[href$=".xls"] {
        background: none;
        padding-right: 0;
      }
    .footer-top {
        background: #F8FCF4;
        padding: 2rem 4rem;
        h2 {font-size: 1.2em;}
        .field--name-field-title {
            font-weight: 600;
        }
        .field--name-field-icon {
            display: block;
            float: left;
            margin-right: 2rem;
        }
        .field--name-body {
            p {overflow: hidden;}
        }
    }
    .region--footer-top-left {
        border-right: none;
        border-bottom: solid 1px #D3D3D3;
        img { margin-right: 1.5rem; }
        @include breakpoint($bp-medium, $no-query: '.no-mq') {
            @include grid-span(6,1);
            border-bottom: none;
            padding-right: 3rem;
        }
    }
    .region--footer-top-right {
        @include breakpoint($bp-medium, $no-query: '.no-mq') {
            @include grid-span(6,7);
            padding-left: 2rem;
            border-left: solid 1px #D3D3D3;
        }
    }
    // FOOTER MIDDLE --------------------- //
    .footer-middle {
        background: #fff;
        text-align: center;
        width: 100%;
        .field--name-field-title {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }
    .region--footer-middle-left {
        transition: all .3s;
        cursor: pointer;
        @include breakpoint($bp-medium, $no-query: '.no-mq') {
            @include grid-span(4,1);
            @include add-gutter(0);
            width: 33.33333%; //hack for now since it's not properly dividing the first column...wtf?!
        }
        & > div {
            margin: 0;
            padding: 0rem;
             @include breakpoint($bp-medium, $no-query: '.no-mq') {
                  margin: 0rem;
                  padding: 0;
             }
        }
        &:hover {
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
            //background: #F8F8F8;
        }   
    }
    .region--footer-middle-center {
        transition: all .3s;
        cursor: pointer;
        border-top: solid 1px #f1eeee;
        border-bottom: solid 1px #f1eeee;
        @include breakpoint($bp-medium, $no-query: '.no-mq') {
            @include grid-span(4,5);
            @include add-gutter(0);
            border-left: solid 1px #f1eeee;
            border-right: solid 1px #f1eeee;
            border-top: none;
            border-bottom: none;
        }
        & > div {
            margin: 0;
            padding: 0;
            @include breakpoint($bp-medium, $no-query: '.no-mq') {
                margin: 0;
                padding: 0;
            }
        }
        &:hover {
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
            //background: #F8F8F8;
        }
    }
    .region--footer-middle-right {
        transition: all .3s;
        cursor: pointer;
        @include breakpoint($bp-medium, $no-query: '.no-mq') {
            @include grid-span(4,9);
            @include add-gutter(0);
        }
        & > div {
            margin: 0;
            padding: 0;
            @include breakpoint($bp-medium, $no-query: '.no-mq') {
                margin: 0;
                padding: 0;
            }
        }
        &:hover {
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
            //background: #F8F8F8;
        }
    }
    // FOOTER BOTTOM --------------------- //
    .footer-bottom {
        background-color: #272727;
        padding: 2rem;
        @include clearfix;
        .view-content {
            text-align: center;
            @include breakpoint($bp-large, $no-query: '.no-mq') {
                text-align: left;
            }
            .logo img{
                height: 55px;
                padding-right: 1.5rem;
            }
        } 
    }
    .region--footer-bottom-left {
        @include breakpoint($bp-large, $no-query: '.no-mq') {
            @include grid-span(6,1);
        }
    }
    .region--footer-bottom-right {
        @include breakpoint($bp-large, $no-query: '.no-mq') {
            @include grid-span(6,7);
        }
    }
    
}

.field.field--name-field-title.field--type-string {
    padding: 1rem 2rem;
}